---
import Layout from "../layouts/Layout.astro";
import Project from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<Layout title="Projects">
  <div class="mt-12 px-4 sm:px-8 mx-auto max-w-7xl space-y-28">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="max-w-2xl" style="opacity: 1; transform: none;">
        <h2>
          <span class="sr-only"> -</span><span
            class="block font-display tracking-tight [text-wrap:balance] text-4xl font-semibold text-neutral-950 dark:text-neutral-100"
            >My Projects</span
          >
        </h2><div
          class="mt-6 text-base sm:text-lg text-neutral-600 dark:text-neutral-400"
        >
          <p>
            Dive into my digital playground! Here, you'll find a mix of cool
            stuff I've been up to. From whipping up user-friendly experiences to
            tackling tricky tech challenges, these projects are like my digital
            adventures.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-2xl lg:max-w-none space-y-6">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        {
          allProjects
            .filter((project) => project.data.isPublished)
            .sort((a, b) => new Date(b.data.date) - new Date(a.data.date))
            .map((project) => (
              <Project
                key={project.slug}
                url={`/projects/${project.slug}`}
                category={project.data.category}
                title={project.data.title}
                date={project.data.date}
                introduction={project.data.introduction}
                technologies={project.data.technologies}
                imgSrc={project.data.project_icon}
                darkThemeImageSrc={project.data.dark_project_icon}
              />
            ))
        }
      </div>
    </div>
  </div>
</Layout>
