---
import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="my-10 space-y-20 dark:text-white">
    <header>
      <div
        class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40 text-center"
      >
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <div style="opacity: 1; transform: none;">
            <h1>
              <span
                class="block font-display text-base font-semibold dark:text-primary-gray-100 text-neutral-950 capitalize"
                >{frontmatter.category} Project</span
              ><span class="sr-only"> -</span><span
                class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-neutral-950 dark:text-white [text-wrap:balance] sm:text-6xl mx-auto"
                >{frontmatter.title}</span
              >
            </h1><div
              class="mt-6 max-w-3xl text-xl text-neutral-600 dark:text-primary-gray-300 mx-auto"
            >
              <p>
                {frontmatter.description}
              </p>
            </div>
          </div>
        </div>
      </div><div style="opacity: 1; transform: none;">
        <div
          class="mt-24 border-t border-neutral-200 bg-transparent sm:mt-32 lg:mt-40"
        >
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:max-w-none">
              <div class="mx-auto max-w-5xl">
                <dl
                  class="-mx-6 grid grid-cols-1 text-sm text-neutral-950 sm:mx-0 sm:grid-cols-3"
                >
                  <div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0"
                  >
                    <dt class="font-semibold">Client</dt><dd>
                      {frontmatter.client}
                    </dd>
                  </div><div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0"
                  >
                    <dt class="font-semibold">Year</dt><dd>
                      <time datetime="2022">2022</time>
                    </dd>
                  </div><div
                    class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0"
                  >
                    <dt class="font-semibold">Service</dt><dd>
                      {frontmatter.service}
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div><div class="border-y border-neutral-200 bg-neutral-100">
          <div class="-my-px mx-auto max-w-[76rem] bg-neutral-200">
            <div class="group relative">
              <img
                alt=""
                fetchpriority="high"
                width="3648"
                height="3117"
                decoding="async"
                data-nimg="1"
                class="w-full"
                sizes="(min-width: 1216px) 76rem, 100vw"
                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=640&q=90 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=750&q=90 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=828&q=90 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1080&q=90 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1200&q=90 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1920&q=90 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=2048&q=90 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=3840&q=90 3840w"
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=3840&q=90"
                style="color: transparent; filter: grayscale(0.390652);"
              /><div
                class="pointer-events-none absolute left-0 top-0 w-full opacity-0 transition duration-300 group-hover:opacity-100"
                aria-hidden="true"
              >
                <img
                  alt=""
                  fetchpriority="high"
                  width="3648"
                  height="3117"
                  decoding="async"
                  data-nimg="1"
                  class="w-full"
                  sizes="(min-width: 1216px) 76rem, 100vw"
                  srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=640&q=90 640w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=750&q=90 750w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=828&q=90 828w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1080&q=90 1080w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1200&q=90 1200w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=1920&q=90 1920w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=2048&q=90 2048w, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=3840&q=90 3840w"
                  src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.5a19c176.jpg&w=3840&q=90"
                  style="color: transparent;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <img
      class="dark:hidden"
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
    />
    <img
      class="hidden dark:flex"
      src={frontmatter.darkThemeImage.url}
      alt={frontmatter.darkThemeImage.alt}
    />
    <slot />
  </div>
</Layout>
